/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
/* @import 'https://www.nerdfonts.com/assets/css/webfont.css'; */
@import 'nerdfonts/webfont.slim.css';

i {
  /* color: rgb(115 130 175 / 95%); */
  /* color: rgb(231 130 132 / 95%); */
  color: rgb(94 129 172 / 100%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 16px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  background: linear-gradient(rgb(0 0 0 / 50%), rgb(5 2 20 / 45%));
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 15px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(46 52 46 / 10%);
  margin-right: 8px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
	color: rgb(255 0 0 / 100%);
  }

  &.focused,
  &:hover {
	background: rgb(94 129 172 / 50%);
	/* background: rgb(231 130 132 / 95%);	*/
	color: rgb(255 255 255 / 95%);
    /* background: rgb(75 115 255 / 50%); */
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
